In [2]:
import pandas as pd

import functions as f

In [3]:
from DataFrameMetadata import DataFrameMetadata

metadata = DataFrameMetadata()
metadata.size = 3

print(metadata.size)

3

In [4]:
database, names = f.load__csv_files_from_folder("data")

In [5]:
from comparing import ComparatorForDatasets
from collections import defaultdict

metadata : dict[str, pd.DataFrame] = defaultdict()
for dataframe, name in zip(database, names):
    metadata[name] = f.DataFrameWithStat(dataframe).compute_correlation(0.5).create_column_embeddings().get_metadata()
    
comparator = ComparatorForDatasets(metadata)

In [6]:
comparator.cross_compare()

aircraft-data_nov_dec  is most similar to  USA_cars_datasets  by  0.8473674456278483
Airplane_Cleaned  is most similar to  aircraft-data_nov_dec  by  0.7950917482376099
autoscout24-germany-dataset  is most similar to  CARS_1  by  0.7972323099772135
CARS_1  is most similar to  USA_cars_datasets  by  0.8644307255744934
disney_movies  is most similar to  imdb_top_1000  by  0.7005533277988434
exchange_rates  is most similar to  imdb_top_1000  by  0.7916637659072876
imdb_top_1000  is most similar to  netflix_titles  by  0.7878746655252244
netflix_titles  is most similar to  imdb_top_1000  by  0.7437895685434341
Sales_Transaction10000  is most similar to  transaction_data  by  0.7536337375640869
transaction_data  is most similar to  disney_movies  by  0.7216140031814575
USA_cars_datasets  is most similar to  CARS_1  by  0.6596778184175491

In [9]:
from Types import Types

metadata_date : dict[str, pd.DataFrame] = defaultdict()
for dataframe, name in zip(database, names):
    metadata_date[name] = f.DataFrameWithStat(dataframe).compute_correlation(0.5).create_column_embeddings([Types.STRING, Types.TEXT, Types.UNDEFINED, Types.DATE, Types.BOOL ]).get_metadata()
    
comparator_date = ComparatorForDatasets(metadata_date)

In [10]:
comparator_date.cross_compare()

aircraft-data_nov_dec  is most similar to  USA_cars_datasets  by  0.8473674456278483
Airplane_Cleaned  is most similar to  aircraft-data_nov_dec  by  0.707200805346171
autoscout24-germany-dataset  is most similar to  CARS_1  by  0.7972323099772135
CARS_1  is most similar to  USA_cars_datasets  by  0.8644307255744934
disney_movies  is most similar to  netflix_titles  by  0.7754080891609192
exchange_rates  is most similar to  netflix_titles  by  0.7050980925559998
imdb_top_1000  is most similar to  netflix_titles  by  0.7878746655252244
netflix_titles  is most similar to  imdb_top_1000  by  0.7555240137236459
Sales_Transaction10000  is most similar to  transaction_data  by  0.7536337375640869
transaction_data  is most similar to  Sales_Transaction10000  by  0.8204637467861176
USA_cars_datasets  is most similar to  aircraft-data_nov_dec  by  0.7875844438870748

In [4]:
database[0].count()

Unnamed: 0        10000
flight             9989
tail_number       10000
long              10000
lat               10000
alt               10000
manufacturer       9748
model              9748
reg_expiration     9680
reg_owner          9748
reg_city           9791
reg_state          9790
squawk             9405
mph               10000
spotted           10000
dtype: int64

In [3]:
data0 = f.DataFrameWithStat(database[0])

In [6]:
data0.get_numerical_columns()

        alt      lat  squawk  mph     long  Unnamed: 0
0     20175  34.5823  1077.0  474 -118.213           0
1     36700  34.6038  7730.0  523 -117.937           1
2     13225  34.6345  4770.0  380 -118.035           2
3     33750  34.4643  1751.0  527 -118.075           3
4     34725  34.6002  6054.0  525 -117.756           4
...     ...      ...     ...  ...      ...         ...
9995   9925  34.6057  7212.0  460 -118.179        9995
9996  20900  34.6983  4710.0  460 -117.860        9996
9997  23975  34.7452  3523.0  481 -118.280        9997
9998   8075  34.5663  4662.0  322 -118.356        9998
9999   7425  34.6309  6353.0  460 -118.070        9999

[10000 rows x 6 columns]

In [4]:
data0.compute_correlation(0.5)

{('alt', 'mph')}

In [11]:
print([(f.get_type(database[0][i]), i) for i in database[0].columns])

[(<Types.NUMERICAL: 1>, 'Unnamed: 0'), (<Types.STRING: 3>, 'flight'), (<Types.STRING: 3>, 'tail_number'), (<Types.NUMERICAL: 1>, 'long'), (<Types.NUMERICAL: 1>, 'lat'), (<Types.NUMERICAL: 1>, 'alt'), (<Types.STRING: 3>, 'manufacturer'), (<Types.STRING: 3>, 'model'), (<Types.DATE: 7>, 'reg_expiration'), (<Types.STRING: 3>, 'reg_owner'), (<Types.STRING: 3>, 'reg_city'), (<Types.STRING: 3>, 'reg_state'), (<Types.NUMERICAL: 1>, 'squawk'), (<Types.NUMERICAL: 1>, 'mph'), (<Types.DATE: 7>, 'spotted')]