In [1]:
import math

import pandas as pd

import functions as f

In [2]:


from similarity.DataFrameMetadata import DataFrameMetadata

metadata = DataFrameMetadata()
metadata.size = 3

print(metadata.size)

3

In [3]:
database, names = f.load__csv_files_from_folder("data")

In [4]:
from comparing import ComparatorForDatasets
from collections import defaultdict

metadata : dict[str, DataFrameMetadata] = defaultdict()
for dataframe, name in zip(database, names):
    metadata[name] = f.DataFrameWithStat(dataframe).compute_correlation(0.5).create_column_embeddings().get_metadata()
    
comparator = ComparatorForDatasets(metadata)

genre
Comedy                 182
Adventure              129
Drama                  114
Action                  40
Thriller/Suspense       24
Romantic Comedy         23
Musical                 16
Documentary             16
Western                  7
Horror                   6
Black Comedy             3
Concert/Performance      2
Name: count, dtype: int64

In [5]:
comparator.cross_compare_column_names()

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [6]:
comparator.cross_compare()

aircraft-data_nov_dec  is most similar to  USA_cars_datasets  by  0.8473674456278483
Airplane_Cleaned  is most similar to  aircraft-data_nov_dec  by  0.7950917482376099
autoscout24-germany-dataset  is most similar to  CARS_1  by  0.7972323099772135
CARS_1  is most similar to  USA_cars_datasets  by  0.8644307255744934
disney_movies  is most similar to  imdb_top_1000  by  0.7005533277988434
exchange_rates  is most similar to  imdb_top_1000  by  0.7916637659072876
imdb_top_1000  is most similar to  netflix_titles  by  0.7878746655252244
netflix_titles  is most similar to  imdb_top_1000  by  0.7437895685434341
Sales_Transaction10000  is most similar to  transaction_data  by  0.7536337375640869
transaction_data  is most similar to  disney_movies  by  0.7216140031814575
USA_cars_datasets  is most similar to  CARS_1  by  0.6596778184175491

In [24]:
from similarity.Types import Types

metadata_date : dict[str, DataFrameMetadata] = defaultdict()
for dataframe, name in zip(database, names):
    metadata_date[name] = f.DataFrameWithStat(dataframe).compute_correlation(0.5).create_column_embeddings([Types.STRING, Types.TEXT, Types.UNDEFINED, Types.DATE, Types.BOOL, Types.FLOAT, Types.NUMERICAL, Types.INT ]).get_metadata()
    
comparator_date = ComparatorForDatasets(metadata_date)

In [25]:
comparator_date.cross_compare()

aircraft-data_nov_dec  is most similar to  transaction_data  by  0.9025638937950134
Airplane_Cleaned  is most similar to  CARS_1  by  0.92059212071555
autoscout24-germany-dataset  is most similar to  CARS_1  by  0.8280455946922303
CARS_1  is most similar to  Airplane_Cleaned  by  0.8820204734802246
disney_movies  is most similar to  imdb_top_1000  by  0.829899787902832
exchange_rates  is most similar to  transaction_data  by  0.9999999403953552
imdb_top_1000  is most similar to  netflix_titles  by  0.7933953180909157
netflix_titles  is most similar to  imdb_top_1000  by  0.7732504265648978
Sales_Transaction10000  is most similar to  transaction_data  by  0.8544233100754874
transaction_data  is most similar to  Sales_Transaction10000  by  0.8617686629295349
USA_cars_datasets  is most similar to  aircraft-data_nov_dec  by  0.8225808888673782

In [4]:
database[0].count()

Unnamed: 0        10000
flight             9989
tail_number       10000
long              10000
lat               10000
alt               10000
manufacturer       9748
model              9748
reg_expiration     9680
reg_owner          9748
reg_city           9791
reg_state          9790
squawk             9405
mph               10000
spotted           10000
dtype: int64

In [3]:
data0 = f.DataFrameWithStat(database[0])

In [6]:
data0.get_numerical_columns()

        alt      lat  squawk  mph     long  Unnamed: 0
0     20175  34.5823  1077.0  474 -118.213           0
1     36700  34.6038  7730.0  523 -117.937           1
2     13225  34.6345  4770.0  380 -118.035           2
3     33750  34.4643  1751.0  527 -118.075           3
4     34725  34.6002  6054.0  525 -117.756           4
...     ...      ...     ...  ...      ...         ...
9995   9925  34.6057  7212.0  460 -118.179        9995
9996  20900  34.6983  4710.0  460 -117.860        9996
9997  23975  34.7452  3523.0  481 -118.280        9997
9998   8075  34.5663  4662.0  322 -118.356        9998
9999   7425  34.6309  6353.0  460 -118.070        9999

[10000 rows x 6 columns]

In [4]:
data0.compute_correlation(0.5)

{('alt', 'mph')}

In [11]:
print([(f.get_type(database[0][i]), i) for i in database[0].columns])

[(<Types.NUMERICAL: 1>, 'Unnamed: 0'), (<Types.STRING: 3>, 'flight'), (<Types.STRING: 3>, 'tail_number'), (<Types.NUMERICAL: 1>, 'long'), (<Types.NUMERICAL: 1>, 'lat'), (<Types.NUMERICAL: 1>, 'alt'), (<Types.STRING: 3>, 'manufacturer'), (<Types.STRING: 3>, 'model'), (<Types.DATE: 7>, 'reg_expiration'), (<Types.STRING: 3>, 'reg_owner'), (<Types.STRING: 3>, 'reg_city'), (<Types.STRING: 3>, 'reg_state'), (<Types.NUMERICAL: 1>, 'squawk'), (<Types.NUMERICAL: 1>, 'mph'), (<Types.DATE: 7>, 'spotted')]

In [29]:
disney = metadata['disney_movies'].categorical_metadata['genre'].categories_with_count

In [14]:
metadata['netflix_titles'].categorical_metadata['type'].categories_with_count

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [30]:
imdb = metadata['imdb_top_1000'].categorical_metadata['IMDB_Rating'].categories_with_count

60.767214941650124

In [53]:

disney_bigger = metadata['disney_movies'].categorical_metadata['genre'].categories_with_count.copy()
disney_smaller = metadata['disney_movies'].categorical_metadata['genre'].categories_with_count.copy()
for i in disney_bigger.items():
    disney_bigger[i[0]] = i[1] * 10
    disney_smaller[i[0]] = int(i[1] / 10)

disney_bigger

genre
Comedy                 1820
Adventure              1290
Drama                  1140
Action                  400
Thriller/Suspense       240
Romantic Comedy         230
Musical                 160
Documentary             160
Western                  70
Horror                   60
Black Comedy             30
Concert/Performance      20
Name: count, dtype: int64

In [60]:
import math
# https://math.stackexchange.com/questions/2383969/properly-comparing-two-histograms
def coumpute_D(first, second):
    min_len = min(len(first), len(second))
    sum_res = 0
    for i in range(min_len):
        sum_res += pow(second.iloc[i] - first.iloc[i], exp=2)
    res = math.sqrt(sum_res)
    print (res)
    
def compute_chi(first, second):
    min_len = min(len(first), len(second))
    sum_res = 0
    for i in range(min_len):
        tmp =  pow(second.iloc[i] - first.iloc[i], exp=2)
        sum_res += tmp/second.iloc[i]
    print(sum_res)

In [59]:
coumpute_D(imdb, disney)
coumpute_D(disney, imdb)
coumpute_D(disney, disney)
coumpute_D(disney, disney_bigger)
coumpute_D(disney, disney_smaller)

174.37603046290508
174.37603046290508
0.0
2313.4727143409323
232.29937580630732

In [62]:
compute_chi(imdb, disney)
compute_chi(disney, imdb)
compute_chi(disney, disney)
compute_chi(disney, disney_bigger)
compute_chi(disney_bigger, disney)
compute_chi(disney_smaller, disney)
compute_chi(disney, disney_smaller)

1289.717360843483
313.04804306466247
0.0
4552.200000000002
45522.0
464.82348206890407
inf

C:\Users\ab032mj\AppData\Local\Temp\ipykernel_35604\4103450190.py:16: RuntimeWarning: divide by zero encountered in scalar divide
  sum_res += tmp/second.iloc[i]

In [67]:
import statistics

print(f"{statistics.stdev(disney)} {statistics.median(disney)}")
print(statistics.stdev(imdb))
print(statistics.stdev(disney_bigger))
print(statistics.stdev(disney_smaller))

60.117813625842345 19.5
60.767214941650124
601.1781362584234
6.017021310793694